body {
  font-family: monospace;
  background-color: white;
  color: #2b90d9;
  width: 800px;
  margin: 0 auto;
}
.registration {
  display: block;
  height: auto;
}
.registration a{
  margin-right: 20px;
  float: left;
}
div[class="row"] {
  margin: 0 auto;
  height: 20px;
}
.notice {
  color: green;
  float: left;
}
.alert {
  float: left;
  color: red;
}
div[class='devise_forms'] {
  display: block;
  position: absolute;
  left: 240px;
  top: 130px;
  margin: auto;
}
div[class="show_page"] {
  display: block;
  position: absolute;
  top: 100px;
  margin: 50px auto 0 auto;
}
div[class='devise_forms'] a {
  position: relative;
  top: 230px;

}
div[class='col-lg-6 col-lg-offset-3'] {
  position: absolute;
  left: 400px;
  margin: 30px auto 10px auto;
  border-radius: 20px;
}
#myCarousel {
  float: left;
  top: 100px;
}
div[class='carousel-inner'] {
  box-shadow: 10px 10px 5px  5px #9baec8;
  background-color: black;
  height: 400px;
  width: 800px;
  margin: auto auto;
  border-radius: 20px;
}
div[class='first_picture'] img {
  max-height: 400px;
  max-width: 800px;
  margin: auto auto;
  border-radius: 20px;
}
.pictures img {
  max-height: 400px;
  max-width: 800px;
  position: relative;
  margin: 75px auto 0 auto;
  border-radius: 20px;
}
.carousel-indicators {
  padding-top: 10px;
  border-top: 3px solid white;
}
a[class="carousel-control"] {
  opacity: .1;
  background-color: black;
  border-radius: 20px;
  height: 400px;
  color: white;
}
.first_picture {
  position: absolute;
  top: 70px;
  left: 85px;
}
.all_games a{
  display: inline-block;
  height: auto;
  width: auto;
  float: left;
  position: relative;;
  padding: 3px 0 3px 0;
  top: 120px;
  font-family: garamond, serif;
  font-size: 20px;

}
a {
  color: black;
}
.all_games a:hover {
  color: blue;
  text-decoration: underline;
  box-sizing: border-box;
}
ul[class="nav nav-pills"] {
  position: absolute;
  top: 600px;
}

h2 {
  position: relative;
  display: inline-block;;
  top: 120px;
  left: 355px;
  text-align: center;
  color: black;
}
