body {
  font-family: monospace;
  background-color: #d9e1e8;
  color: #2b90d9;
  width: 800px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  box-shadow: 10px 10px 5px #9baec8;
}

div[class='mainLogo'] {
  position: relative;
  margin: 10px auto;

}
div[class='carousel-inner'] {
  box-shadow: 10px 10px 5px #9baec8;
  background-color: black;
  height: 400px;
  width: 800px;
  margin: 20px auto;
  border-radius: 20px;
}
.carousel-inner img {
  max-height: 300px;
  max-width: 800px;
  position: relative;
  margin: auto auto;  
}
p {
  background-color: black;
  margin: 0 auto;
  color: white;
  font-family: monospace;
  font-style: italic;
  text-align: center;
  font-size: 50px
}
